body {
    background-color: whitesmoke;
    font-family: 'Noto Serif', serif;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    z-index: 9999;
}

.header {
    width: 100%;
    font-family: 'Noto Serif', serif;
}

.header > * {
    font-size: 20px;
}

@media (min-width:550px) {
    .menu-toggle {
        display: none;
        }
    
    header::after {
        content: "";
        clear: both;
        display: block;
    }
    
    .nav-site {
        float: right;
    }
    
    .nav-site a:hover ,
    .nav-site a:focus {
        background-color: #efefef;
        color: #464655;
    }
    
    .nav-item {
        float: left;
        display: flex;
    }
    
    .menu-item {
        float: left;
        list-style: none;
        position: relative;
    }
    
    .logo-empresa {
        padding: 1rem 1rem;
        align-self: center;
        float: left;
        width: 25%;
    }
    
    .menu-item a {
        display: block;
        padding: 0 2rem;
        line-height: 5rem;
        color: #0a0a0a;
        text-decoration: none;
    }
    
    .menu-item ul {
        display: none;
        position: absolute;
        background-color: #ffffff;
        border: 1px solid #cccccc;
    }
    
    .menu-item:hover ul {
        display: block;
    }
    
    .menu-item-servicio {
        width: 100%;
        list-style: none;
    }
    
    .menu-item-servicio a {
        padding: 1rem 2rem;
        line-height: unset;
        white-space: nowrap;
    }
    
    .menu-item-servicio a:hover,
    .menu-item-servicio a:focus {
        background-color: #efefef;
        color: #464655;
    }
    }
    
    .menu-toggle {
        padding: 1em;
        position: absolute;
        top: .5em;
        right: .5em;
    }
    
    .menu-open .burger-icon {
        transform: rotate(45deg);
    }
    
    .menu-open .burger-icon::before {
        opacity: 0;
    }
    
    .menu-open .burger-icon::after {
        transform: translateY(-3px) rotate(-90deg);
    }
    
    .burger-icon,
    .burger-icon::before,
    .burger-icon::after {
        content: '';
        display: block;
        background-color: #efefef;
        height: 3px;
        width: 1.75em;
        border-radius: 3px;
        transition: all ease-in-out 500ms;
    }
    
    .burger-icon::before {
        transform: translateY(-6px);
    }
    
    .burger-icon::after {
        transform: translateY(3px);
    }
    

main {
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

main img {
    max-width: 100%;
}

.all-container {
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    height: 100%;
}

.slider-container {
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.slide-item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
    width: 1000px;
    text-align: center;
}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2p white solid;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover {
    transform: scale(2);
}

.pagination-item img {
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img {
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked ~ .slider-container {
    animation: none;
    transform: translate3d(0,0,0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background-color: #fff;
}

input[id="2"]:checked ~ .slider-container {
    animation: none;
    transform: translate3d(calc(-100% * 1),0,0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background-color: #fff;
}

input[id="3"]:checked ~ .slider-container {
    animation: none;
    transform: translate3d(calc(-100% * 2),0,0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background-color: #fff;
}

@keyframes autoplay {
    33% {
        transform: translate3d(calc(-100% * 0),0,0);
    }
    66% {
        transform: translate3d(calc(-100% * 1),0,0);
    }
    100% {
        transform: translate3d(calc(-100% * 2),0,0);
    }
}

.informacion-consultas {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 3fr);
    grid-column-gap: 5px;
    height: 430px;
    text-align: center;
}

.footer-contenedor {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 10px;
    padding: 10px;
}

.footer-contacto {
    text-align: left;
    list-style: none;
}

.footer-redessociales li {
    list-style: none;
    text-align: center;
}